* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

.main-container { 
    margin: 20px 0 0 0;

}
  
  
h1 {
    text-align: center;
    color: blue;
    margin: 50px 0 0 0;

}
